@import "../../styles/colors.scss";
@import "../../styles/units.scss";

.button {
  padding: $_13px $_23px;
  border: 1px solid $light-blue;
  border-radius: 5px;
  max-width: $_148px;
  display: flex;
  justify-content: center;
  font-size: $_16px;
  cursor: pointer;
}

.login-button {
  background: $fade-blue;
}

.solid-button {
  background: $light-blue;
}
