$purple: #4d618e;
$blue: #303f60;
$blue-opacity: #303f6080;
$dark-blue: #1a253c;
$light-blue: #43afff;
$fade-light-blue: #43afff33;
$dim-blue: #edf6ff;
$dim1-blue: #d9efff;
$fade-blue: #43afff33;
$white: #ffffff;
$shadow: #557da526;
$red: #ff0000;
$grey: #c6c6c6;
$fade-grey: #e8e8e833;
$dark-fade-grey: rgba(169, 175, 188, 0.2); //#a9afbc
