$blue: #303f60;
$purple: #4d618e;
$dark-blue: #1a253c;
$light-blue: #43afff;
$dim-blue: #edf6ff;
$fade-blue: #43afff33;
$white: #ffffff;
$shadow: #557da526;
$red: #ff0000;
$grey: #c6c6c6;
$fade-grey: #e8e8e833;
