@import "../../styles/colors.scss";
@import "../../styles/units.scss";

.home-empty-container {
  background: transparent linear-gradient(248deg, $blue 0%, $dark-blue 100%) 0%
    0% no-repeat padding-box;
  height: $_464px;
  position: relative;
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  top: $_131px;
  width: 100%;
  align-self: center;

  .left-box {
    margin-left: $_144px;
    margin-right: $_32px;
    flex: 1;

    .left-content {
      width: max-content;
      margin-bottom: $_40px;

      .left-text {
        font-size: $_56px;
        color: $white;
        margin-top: $_30px;

        span {
          color: $light-blue;
        }
      }
    }
  }

  .right-content {
    margin-right: $_144px;

    img {
      border-radius: $_20px;
      box-shadow: 0 $_30px $_36px $shadow;
      width: $_608px;
      height: $_384px;
    }
  }
}

.middle-container {
  margin: $_144px $_112px 0 $_144px;

  color: $dark-blue;
  font-size: $_23px;
  letter-spacing: 0px;

  .card-container {
    margin-top: $_40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .card {
      background: $white;
      box-shadow: 0px 3px 6px $shadow;
      border-radius: 5px;
      opacity: 1;
      padding: $_30px $_20px;
      width: $_305px;
      box-sizing: border-box;
      margin-right: $_32px;

      .card-title {
        text-align: left;
        letter-spacing: 0px;
        color: $light-blue;
        text-transform: capitalize;
        width: 70%;
      }

      .card-content {
        font-size: $_14px;
        margin-top: $_30px;
        line-height: $_27px;
      }
    }
  }
}

.bottom-container {
  margin: $_144px $_144px $_64px $_144px;

  .title {
    color: $dark-blue;
    font-size: $_23px;
    text-transform: capitalize;
  }

  .logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: $_40px;

    img {
      width: $_112px;
      height: $_40px;
      margin: 0 $_32px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .home-empty-container {
    height: $_400px;
  }

  .top-container {
    top: $_100px;

    .left-box {
      margin-left: $_80px;
      margin-top: $_40px;

      .left-content {
        margin-bottom: $_30px;

        .left-text {
          font-size: $_48px;
          margin-top: $_10px;
        }
      }
    }

    .right-content {
      margin-right: $_80px;

      img {
        width: $_487px;
        height: $_308px;
        margin-top: $_30px;
      }
    }
  }

  .middle-container {
    margin: $_80px $_32px 0 $_32px;

    .card-container {
      .card {
        width: 100%;
        margin-top: $_32px;
      }
    }
  }

  .bottom-container {
    margin: $_80px $_32px $_64px $_32px;

    .logo-container img {
      margin: 0 $_10px;
    }
  }
}

@media screen and (max-width: 850px) {
  .home-empty-container {
    height: $_368px;
  }

  .top-container {
    .left-box {
      margin-top: $_32px;
    }

    .right-content {
      img {
        width: $_426px;
        height: $_269px;
      }
    }
  }

  .middle-container {
    .card-container {
      display: block;
    }
  }
}

@media screen and (max-width: 770px) {
  .home-empty-container {
    height: $_336px;
  }

  .top-container {
    .left-box {
      .left-content {
        .left-text {
          font-size: $_32px;
        }
      }
    }

    .right-content {
      img {
        width: $_365px;
        height: $_231px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .home-empty-container {
    height: $_576px;
  }

  .top-container {
    flex-direction: column;
    align-items: center;
    top: $_90px;

    .left-box {
      margin: 0;
      .left-content {
        .left-text {
          font-size: $_48px;
        }
      }
    }

    .right-content {
      margin-right: 0;
      margin-top: $_30px;

      img {
        width: $_396px;
        height: $_250px;
      }
    }
  }
} ;
