@import "../../styles/colors.scss";
@import "../../styles/units.scss";

.empty-container {
  background: transparent linear-gradient(248deg, $blue 0%, $dark-blue 100%) 0%
    0% no-repeat padding-box;
  height: $_352px;
  position: relative;
}

.signup-container {
  position: absolute;
  background: $white;
  padding: $_30px;
  border-radius: $_20px;
  top: $_112px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px $_30px $_36px $shadow;
  width: 557px;
  color: $dark-blue;

  .title {
    font-size: $_23px;
  }

  .input-field {
    display: flex;
    flex-direction: column;

    label {
      margin-top: $_23px;
      font-size: $_16px;
    }

    input {
      padding: $_15px $_17px;
      border: 1px solid $grey;
      border-radius: 5px;
      margin-top: $_8px;
      outline: none;
      background: $fade_grey;

      &:focus {
        border-color: $light-blue;
      }
    }
  }

  .top-text {
    margin-top: $_23px;
    font-size: $_16px;
  }

  .top-btn-parent {
    display: flex;
    margin-top: $_8px;

    .top-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      padding: $_12px $_17px;
      width: $_136px;

      img {
        width: $_23px;
        height: $_23px;
        margin-right: $_10px;
      }
    }
    .recruiter-btn {
      background: $light-blue;
      border: 1px solid $light-blue;
      color: $white;
      margin-right: $_20px;
    }

    .candidate-btn {
      border: 1px solid $grey;
      background: $fade-grey;
    }
  }

  .password {
    display: flex;

    .left-pass {
      flex: 1;
      margin-right: $_10px;
    }

    .right-pass {
      flex: 1;
      margin-left: $_10px;
    }
  }

  .blue-text {
    color: $light-blue;
    font-size: $_18px;
    cursor: pointer;
  }

  .error-msg {
    color: $red;
    font-size: $_14px;
    margin-top: $_8px;
    display: flex;
    justify-content: flex-end;
  }

  .btn {
    margin-top: $_40px;
    width: $_148px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .lower-text {
    margin-top: $_53px;
    display: grid;
    justify-content: center;
  }
}

@media only screen and (max-width: 700px) {
  .signup-container {
    width: 300px;

    .password {
      display: block;

      .left-pass {
        margin-right: 0;
      }

      .right-pass {
        margin-left: 0;
      }
    }
  }
}
